<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0wn9iE8XUhP9BxarUWOPTaiNqFynom7g</string>
	<key>GCM_SENDER_ID</key>
	<string>858752469882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nhanDienThuongHieu</string>
	<key>PROJECT_ID</key>
	<string>nhan-dien-thuong-hieu</string>
	<key>STORAGE_BUCKET</key>
	<string>nhan-dien-thuong-hieu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858752469882:ios:def04488624dfa02e364c3</string>
	<key>DATABASE_URL</key>
	<string>https://nhan-dien-thuong-hieu-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>